@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 1rem;
}
.nft-creator-form-container {
	width: 100%;
	max-width: 512px;
	margin: 0 auto;
}
.btn-connect,
.btn-network,
.btn-create,
.btn-mint {
	min-width: 160px;
	padding: 0.4rem 1rem;
	border-radius: 1rem;
	font-weight: bold;
	border: 0.1rem solid #000000;
}
.btn-connect {
	background-color: #1f1f1f;
	color: #f4f4f4;
}
.btn-connect.active {
	cursor: default;
}
.btn-network {
	background-color: #c4c4c4;
	color: #000000;
}
.btn-create {
	width: 100%;
	border-radius: 2rem;
	background-color: #1f1f1f;
	color: #f4f4f4;
}
.btn-mint {
	padding: 0.2rem 1rem;
	border-radius: 2rem;
	background-color: #1f1f1f;
	color: #f4f4f4;
	font-size: 0.8rem;
}
.btn-create:disabled,
.btn-create[disabled],
.btn-mint:disabled,
.btn-mint[disabled] {
	opacity: 0.75;
}
.overlay {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	transition: all 0.5s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.overlay.active {
	visibility: visible;
	opacity: 1;
}
.overlay .loading-box {
	width: 512px;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 0 auto;
	background-color: #ffffff;
}
.overlay .loadingbar {
	box-sizing: content-box;
	height: 20px;
	position: relative;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.overlay .loadingbar > span {
	display: block;
	height: 100%;
	border-radius: 20px;
	background-color: rgb(43, 194, 83);
	background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
	box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	position: relative;
	overflow: hidden;
}
.overlay .loadingbar > span:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	z-index: 1;
	background-size: 50px 50px;
	animation: move 2s linear infinite;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}
@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}
